


<script src="https://giscus.app/client.js"
    data-repo="LapinRobin/INSA-Survival-Guide"
    data-repo-id="R_kgDOJIKsDg"
    data-category="Announcements"
    data-category-id="DIC_kwDOJIKsDs4CYRXZ"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light_protanopia"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>
<script>
    function updateTheme() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
            const theme = palette.color.scheme === "slate" ? "dark_protanopia" : "light_protanopia"
            const frame = document.querySelector(".giscus-frame")
            if (frame) {
                frame.contentWindow.postMessage({
                    giscus: { setConfig: { theme } }
                }, "https://giscus.app")
            }
        }
    }

    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
        if (palette.color.scheme === "slate") {
            const giscus = document.querySelector("script[src*=giscus]")
            giscus.setAttribute("data-theme", "dark_protanopia")
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const ref = document.querySelector("[data-md-component=palette]")
        ref.addEventListener("change", updateTheme)

        if (window.matchMedia) {
            const mediaQueryList = window.matchMedia('(prefers-color-scheme: dark)')
            mediaQueryList.addEventListener('change', updateTheme)
        }
    })
</script>

